@import "./theme.scss";

$primary: map-get(map-get(map-get($themes, day), sets), primary);

body {
  .ui.fluid.container.day,
  .ui.fluid.container.night {
    .dn-dropdown {
      width: fit-content;
      font-size: 1em;

      &.fluid {
        width: 100%;
      }
      
      > label {
        display: block;
        line-height: 1.71428571;
        font-weight: 500;
        font-size: .875rem;
        color: $brownish-grey;
        user-select: none;
      }

      .ui.selection.dropdown {
        padding: 0 2.25rem 0 0;
        border: 0;
        height: 2.25rem;
        min-height: 2.25rem;
        min-width: 120px;
        box-shadow: none;

        &.search {
          > .text {
            line-height: 2.25rem;
          }

          > .icon {
            padding: .6rem .5rem;
          }

          > input.search {
            top: 0;
            left: 0;
            padding: .375em 0;
            background-color: transparent;
            border: 0;
            border-radius: 0;
            line-height: 1.25em;
            font-size: 1rem;
            box-shadow: inset 0 -1px 0 0 #efefef !important;
    
            &:focus {
              box-shadow: inset 0 -1px 0 0 $primary !important;
            }
    
            &::placeholder {
              font-weight: 400;
              color: #dadada;
            }
    
            &::selection {
              background-color: transparentize($primary, .7);
            }
          }

          > .menu {
            border: 0;
            margin: -2px 0 0;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            
            .item, .message {
              padding: .75rem 1em !important;
              font-size: 1em;

              &.active {
                font-weight: 500;
              }
            }
          }
        }

        > .text {
          line-height: 2.25rem;
        }

        > .icon {
          padding: .6rem .5rem;
        }

        > .menu {
          border: 0;
          margin: -2px 0 0;
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          
          .item, .message {
            padding: .75rem 1em !important;
            font-size: 1em;

            &.active {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  
  .ui.fluid.container.night {
    .dn-dropdown {
      .ui.selection.dropdown {
        background: $color-black-blue;

        i.icon,
        input.search,
        .text,
        .menu .item,
        .message {
          color: #fff;
        }

        .menu {
          background: $color-black-blue;
          box-shadow: 0 2px 3px 0 rgba(4,6,8,.5);

          .item {
            border-color: rgb(45, 45, 51);

            &.active {
              background-color: rgba(255, 255, 255, .08);
            }

            &:hover {
              background-color: rgba(255, 255, 255, .07);
            }
          }
        }

        &.search {
          > input.search {
            color: #fff;
            box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.04) !important;
  
            &:focus {
              box-shadow: inset 0 -1px 0 0 transparentize($primary, .5);
            }
            
            &::placeholder {
              color: rgba(255, 255, 255, .3);
            }
  
            &::selection {
              color: #fff;
            }
          }
        }
      }
    }
  }

  @each $theme, $colorSet in $themes {
    @each $name, $color in map-get($colorSet, sets) {
        // .ui.#{$name}.button:not(.basic),
        // .ui.#{$name}.buttons .button:not(.basic) {
        //   background-color: $color !important;
        // }

        // .ui.#{$name}.button:not(.basic):active,
        // .ui.#{$name}.buttons .button:not(.basic):active {
        //   background-color: transparentize($color, .125) !important;
        // }

        // .ui.basic.#{$name}.button,
        // .ui.basic.#{$name}.buttons .button {
        //   box-shadow: 0 0 0 1px $color inset!important;
        //   color: $color !important;
        // }

        // .ui.basic.#{$name}.button:active,
        // .ui.basic.#{$name}.buttons .button:active {
        //   box-shadow: 0 0 0 1px darken($color, 15) inset!important;
        //   color: darken($color, 15) !important;
        // }
      // }
    }
  }
}
