@import "./theme.scss";

$height: 40px;

body {
  .ui.fluid.container.day,
  .ui.fluid.container.night {
    .dn-audio-controller {
      &.no-waveform {
        .dn-waveform {
          display: none;
        }

        .dn-media-controller {
          padding: 6px;
          height: fit-content;
          background-color: $pale-grey;
          border-radius: 30px;

          .dn-progress-bar {
            margin: 0 6px;
          }

          .btn-controller-group {
            .btn-controller {
              > .dn.ui.button {
                background-color: transparent;
              }
            }

            .volume-controller {
              margin-right: 12px;
            }
          }

          .btn-controller {
            padding: 0;
            height: fit-content;

            > .dn.ui.button {
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .dn-media-controller {
      display: flex;
      height: $height;
      align-items: center;
      user-select: none;
  
      .dn-progress-bar {
        flex: 1;
      }
  
      .time {
        padding: 0 .5rem;
  
        small {
          vertical-align: 3.5px;
          font-size: 10px;
  
          &:last-child {
            &::before {
              content: '/';
            }
          }
        }
      }
  
      .btn-controller-group {
        display: flex;
        align-items: center;
  
        .btn-controller {
          padding: .5rem .25rem;
        }

        .volume-controller {
          width: 80px;
        }
      }
  
      .btn-controller {
        padding: .5rem;
        height: $height;
  
        > .dn.ui.button {
          margin: 0;
          padding: 0;
          height: auto;
          box-shadow: none;
        }
      }
    }
  }

  .ui.fluid.container.night {
    .dn-audio-controller {
      &.no-waveform {
        .dn-media-controller {
          background-color: #29293e;

          .btn-controller {
            > .dn.ui.button {
              background-color: #383853;
            }
          }
        }
      }
    }
  }
}
